<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PenguinMod Embed</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
        iframe {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>

    <iframe id="iframe" src="" allowfullscreen></iframe>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        var projectUrl = urlParams.get('url');
        var edit = urlParams.get('edit');

        if (!projectUrl) {
            projectUrl = "/view/NotLoaded.pmp";
        }

        if (projectUrl.startsWith("/")) {
            projectUrl = "https://p7scratchextensions.pages.dev" + projectUrl;
        }

        var type = edit == true ? "editor" : "embed";
		document.getElementById('iframe').src = `https://studio.penguinmod.com/${type}.html?project_url=${encodeURIComponent(projectUrl)}`;
    </script>

</body>
</html>
